<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complete Show</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css') }}">
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</head>
<body>
    <div class="container">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Congrats!</strong> The file <b></b> is uploaded Sucessful.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--Static Folder is predefined in Jinja-->
        <!--<img src="{{url_for('static', filename=image_name)}} ">-->
        <figure class="figure">
          <img src="{{url_for('static', filename=image_name)}} " class="figure-img img-fluid rounded" alt="Upload Image.">
          <figcaption class="figure-caption">Upload Recently Photo.</figcaption>
        </figure>
        <p class="bg-success">
            <b>Recognized Text</b><br>
        </p>
        <textarea class="form-control" id="textPred"></textarea>

    </div>
</body>
<script>
     document.getElementById("textPred").value = "{{result}}"

</script>

</html>